*/.DS_Store
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.idea/

node_modules
npm-debug.log
book_img

build
public
/src

checkerboard@2.0.0
nodemon
npm
rimraf

.git
.gitignore

.vscode/chrome
/package-lock.json
.babelrc
.editorconfig
.csscomb.json
.eslintrc
.eslintignore
config/
binding.gyp
tsconfig.json
jsconfig.json
tslint.json
tsconfig-build.json
tsconfig-declaration.json
webpack.config.js
webpack.dev.js
lerna.json
**/story.jsx
**/story.tsx
Dockerfile
*.yml
.dockerignore
jest.config.js
.prettierrc

TODO.md
CHANGELOG.md
